# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
db.sqlite3
media/
storage/
static/
staticfiles/
*.log

# Environment variables
.env
.env.prod
.env.prod.example

# OS
.DS_Store
