services:
  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/storage
      - .:/app
    expose:
      - 8000
    env_file:
      - .env.prod
    depends_on:
      - redis

  worker:
    build: .
    command: celery -A config worker --loglevel=info
    volumes:
      - media_volume:/app/storage
      - .:/app
    env_file:
      - .env.prod
    depends_on:
      - redis

  beat:
    build: .
    command: celery -A config beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env.prod
    depends_on:
      - redis

  redis:
    image: redis:6-alpine

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
      - media_volume:/app/storage
    ports:
      - 80:80
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:
